// Mixin variables
// ====================================================================
$defined-bs-type: border-box !default;

// Breakpoint variables
// ====================================================================
$xs-breakpoint: 26.25em; // roughly speaking, around 420px wide with 16px body font
$s-breakpoint: 37.5em; // roughly speaking, around 600px wide with 16px body font
$m-breakpoint: 47.5em; // roughly speaking, around 760px wide with 16px body font
$l-breakpoint: 62.5em; // roughly speaking, around 1000px wide with 16px body font
$xl-breakpoint: 74.625em; // roughly speaking, around 1140px wide with 16px body font

// Color variables
// ====================================================================



